@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;

  --border-surface: var(--color-neutral-300);
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;

  --border-surface: var(--color-neutral-700);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-outline: var(--border-surface);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
